version: "3.9"

services:
  database_prod:
    image: db-prod:latest
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASSWORD}
    volumes:
      - mariadb_prod:/var/lib/mysql
    networks:
      - webnet

  # database_test:
  #   image: db-test:latest
  #   environment:
  #     MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
  #     MARIADB_DATABASE: ${DB_NAME}
  #     MARIADB_USER: ${DB_USER}
  #     MARIADB_PASSWORD: ${DB_PASSWORD}
  #   volumes:
  #     - mariadb_test:/var/lib/mysql
  #   networks:
  #     - webnet

  php_prod:
    image: php-prod:latest
    environment:
      DB_HOST: database_prod
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
    deploy:
      replicas: 1
    networks:
      - webnet
    volumes:
      - php_logs_prod:/var/log/php

  # php_test:
  #   image: php-test:latest
  #   environment:
  #     DB_HOST: database_test
  #     DB_NAME: ${DB_NAME}
  #     DB_USER: ${DB_USER}
  #     DB_PASSWORD: ${DB_PASSWORD}
  #   deploy:
  #     replicas: 1
  #   networks:
  #     - webnet
  #   volumes:
  #     - php_logs_test:/var/log/php

  nginx:
    image: nginx-prod:latest
    ports:
      - "80:80"
    deploy:
        replicas: 1
        update_config:
          parallelism: 1
          delay: 5s
          order: start-first
        restart_policy:
          condition: any
    volumes:
      - nginx_logs:/var/log/nginx
    networks:
      - webnet
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://localhost"]
    #   interval: 10s
    #   timeout: 2s
    #   retries: 5

volumes:
  mariadb_prod:
  mariadb_test:
  php_logs_prod:
  php_logs_test:
  nginx_logs:

networks:
  webnet:
    driver: overlay