version: "3.9"

services:

  # Nodes
  database_prod:
    image: db-prod:latest
    volumes:
      - db_prod:/var/lib/mysql
    secrets:
      - db_root_password
      - db_name
      - db_user
      - db_password
    networks:
      - webnet

  database_test:
    image: db-test:latest
    volumes:
      - db_test:/var/lib/mysql
    secrets:
      - db_root_password
      - db_name
      - db_user
      - db_password
    networks:
      - webnet

  database_prod_backup:
    image: db-prod-backup:latest
    volumes:
      - db_prod:/var/lib/mysql
      - db_backups:/backups
    secrets:
      - db_backup_user
      - db_password
    environment:
      - DB_HOST=database_prod
    networks:
      - webnet
    deploy:
      mode: replicated-job
      replicas: 1
      restart_policy:
        condition: none

  php_prod:
    image: php-prod:latest
    volumes:
      - php_logs_prod:/var/log/php
    secrets:
      - db_user
      - db_name
      - db_password
    environment:
      DB_HOST: database_prod
    deploy:
      replicas: 1
    networks:
      - webnet

  php_test:
    image: php-test:latest
    volumes:
      - php_logs_test:/var/log/php
    secrets:
      - db_user
      - db_name
      - db_password
    environment:
      DB_HOST: database_test
    deploy:
      replicas: 1
    networks:
      - webnet

  nginx:
    image: nginx-prod:latest
    ports:
      - "80:80"
    deploy:
        replicas: 1
        update_config:
          parallelism: 1
          delay: 5s
          order: start-first
        restart_policy:
          condition: any
    volumes:
      - nginx_logs:/var/log/nginx
    networks:
      - webnet

volumes:
  db_prod:
  db_test:
  db_backups:
    external: true
  php_logs_prod:
  php_logs_test:
  nginx_logs:

networks:
  webnet:
    driver: overlay

secrets:
  db_root_password:
    external: true
  db_name:
    external: true
  db_user:
    external: true
  db_password:
    external: true
  db_backup_user:
    external: true
